@import '../../less/fonts.less';
@import '../../less/mixins.less';

.contact-section {
    gap: 2rem;
}

.container-form {
    margin-top: 20px;
    border: 8px solid #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    display: flex;
    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        .form-element {
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 10px;  
        }
        .text-line {
            text-align: start;
            font-family: @text-font;
            color: var(--title-color);
            .justify-items-row();
            gap: 10px;
            width: 100%;
            .line-form {
                width: 100%;
                height: 2px;
                background-color: var(--line-color);
            }
        }
        .input-form {
            border: 0;
            width: 100%;
            height: 30px;
            font-family: @section-titles-font;
            padding-left: 5px;
        }
        .input-form::placeholder {
            font-family: @section-titles-font;
        }
        .text-form {
            height: 100px;
        }
        button {
            width: 50%;
            font-family: @text-font;
            padding: 10px;
            background-color: var(--background-color);
            border: 2px solid var(--line-color);
            border-radius: 10px;
            color: var(--title-color)
        }
        button:hover {
            background-color: var(--line-soft-color);
            border: 2px solid var(--line-soft-color);
            color: var(--text-banner-color)
        }
        .error-field {
            font-family: @text-font;
            font-size: 12px;
            line-height: 1.5rem;
        }
    }
}

.error-form {
    color: var(--text-color);
    font-family: @text-font;
}

.successful-form {
    color: var(--text-color);
    font-family: @text-font;
}

@media (min-width: 425px) {
    .container-form {
        .input-form {
            font-size: 16px;
        }
        form {
            .text-line {
                font-size: 18px;
            }
            .error-field {
                font-size: 13px;
            }
            .successful-form {
                font-size: 13px;
            }
        }
    }
}

@media(min-width: 768px) {
    .container-form {
        form {
            .text-line {
                font-size: 22px
            }
            .error-field {
                font-size: 14px;
            }
            .successful-form {
                font-size: 14px;
            }
        }
    }
}

@media(max-width: 767px) {
    .contact-section {
        margin-top: 8rem;
    }
}