@import "../../less/mixins.less";

.section-title {
    .justify-items-column();
    .underline {
        width: 80%;
        height: 3px;
        background-color: var(--line-soft-color-light);
        margin-top: 5px;
    }
}