---
import SectionTitle from "../SectionTitle/SectionTitle.astro";
import Slider from "../Slider/Slider.astro";
import "./style.less";
---

<section class="project-section">
  <SectionTitle title="Proyectos" />
  <p>
    ¡Estos son nuestros grandiosos proyectos! Poco a poco vamos añadiendo más,
    conforme completamos nuevos trabajos. Cada uno de ellos es una medalla en
    nuestra colección, ¡y tenemos la ambición de conseguir muchas más! Así que,
    si decide trabajar con nosotros, ¡su proyecto también se convertirá en una
    de nuestras preciadas medallas!
  </p>
  <Slider />
</section>
