---
import SectionTitle from "../SectionTitle/SectionTitle.astro";
import Slider from "../Slider/Slider.astro";
import "./style.less";
---

<section class="projects-section">
  <SectionTitle title="Proyectos" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quas
    doloribus quasi aliquam beatae vero, sint voluptas aperiam blanditiis
    ducimus? Exercitationem accusantium perspiciatis eveniet tempore assumenda
    eius amet sequi consequuntur.
  </p>
  <Slider/>
</section>
