@import "reset.less";
@import "mixins.less";
@import "fonts.less";
@import "images.less";

:root {
    .theme-light();
}

body.dark {
    .theme-dark();
    input {
        background-color: rgb(174, 198, 220);
        color: @text-color-light
    }
    textarea {
        background-color: rgb(174, 198, 220);
        color: @text-color-light
    }
    
}

body {
    background-color: var(--background-color);
}

h2 {
    font-family: @section-titles-font;
    color: var(--title-color);
    font-size: 32px;
}

h3 {
    font-family: @text-font;
    color: var(--text-color);
    font-size: 20px;
}

p {
    font-family: @text-font;

}

section {
    margin: 40px 0 0 0;
    width: 100%;
    .justify-items-column();
    text-align: center;
    color: var(--text-color)
}

main {
    .justify-items-column();
}

