@import "reset.less";
@import "mixins.less";
@import "fonts.less";
@import "images.less";

:root {
    .theme-light();
}

body.dark {
    .theme-dark();

    input {
        background-color: rgb(174, 198, 220);
        color: @text-color-light
    }

    textarea {
        background-color: rgb(174, 198, 220);
        color: @text-color-light
    }

    .header {
        nav {
            font-weight: initial;
        }
    }

}

body {
    background-color: var(--background-color);

    .header {
        nav {
            font-weight: bolder;
        }
    }

    p {
        font-weight: bolder;
    }

    p {
        position: relative;
    }

    p::before,
    p::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        color: var(--background-color);
    }

    p::before {
        -webkit-text-stroke: 6px var(--background-color);
        z-index: -2;
    }

    p::after {
        filter: blur(0px);
        opacity: 0.6;
        z-index: -1;
    }
}

h2 {
    font-family: @section-titles-font;
    color: var(--title-color);
    font-size: 32px;
}

h3 {
    font-family: @text-font;
    color: var(--text-color);
    font-size: 20px;
}

p {
    font-family: @text-font;
}

section {
    margin: 40px 0 0 0;
    width: 100%;
    .justify-items-column();
    text-align: center;
    color: var(--text-color)
}

main {
    .justify-items-column();
}

@media (min-width: 425px) {
    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 22px;
    }
}

@media(min-width: 768px) {
    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 24px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
    }

    a {
        font-size: 20px;
    }

    section {
        margin-bottom: 100px;
    }

    main {
        margin: 0 30px;
        border-left: 4px solid var(--line-color);
        border-right: 4px solid var(--line-color);
    }
}

@media(min-width: 1024px) {
    main {
        margin: 0 30px;
        border-left: 4px solid var(--line-color);
        border-right: 4px solid var(--line-color);
    }
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out
}

nav {
    li {
        transition: transform 0.2s ease-in-out;
    }

    li:hover {
        cursor: pointer;
        transform: scale(1.02);

    }
}

.badge-container {
    svg {
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
    }

    svg:hover {
        transform: scale(1.1);
    }
}

article {
    img {
        transition: box-shadow 0.2s ease-in-out;
    }
}
article:hover {
    cursor: pointer;
    img {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, var(--line-color) 0px 0px 0px 3px;
    }
}