---
import Banner from '../components/Banner/Banner.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro';
import AboutSection from '../components/AboutSection/AboutSection.astro';
import ProjectsSection from '../components/ProjectsSection/ProjectsSection.astro';
import SkillSection from '../components/SkillSection/SkillSection.astro';
import ContactSection from '../components/ContactSection/ContactSection.astro';
import AllSkillModals from '../components/AllSkillModals/AllSkillModals.astro';
import AllProjectModals from '../components/AllProjectModals/AllProjectModals.astro';
import Footer from '../components/Footer/Footer.astro';
---

<Layout title='BerryScript - Portafolio'>
	<Header/>
	<Banner/>
	<main>
		<AboutSection/>
		<ProjectsSection/>
		<SkillSection/>
		<ContactSection/>
		<AllSkillModals/>
		<AllProjectModals/>
	</main>
	<Footer/>
</Layout>
