---
import "./style.less"
import ToggleTheme from "../toggleTheme/ToggleTheme.astro"
---

<header class="header">
    <div class="title-portfolio">
        <h1>
            p o r t a f o l i o
            <div class="underline"></div>
        </h1>
        <div class="toggle-container"><ToggleTheme/></div>
    </div>
    <nav>
        <ul>
            <li>Sobre nosotros</li>
            <li>Proyectos</li>
            <li>Habilidades</li>
            <li>Contacto</li>
        </ul>
    </nav>
</header>


