---
import "./style.less"
import ToggleTheme from "../toggleTheme/ToggleTheme.astro"
---

<header class="header">
    <div class="title-portfolio">
        <h1>
            p o r t a f o l i o
            <div class="underline"></div>
        </h1>
        <div class="toggle-container"><ToggleTheme/></div>
    </div>
    <nav>
        <ul>
            <li id="about-nav">Sobre nosotros</li>
            <li id="project-nav">Proyectos</li>
            <li id="skill-nav">Habilidades</li>
            <li id="contact-nav">Contacto</li>
        </ul>
    </nav>
</header>

<script>
    import "./script.js"
</script>


