@import "../../less/fonts.less";
@import "../../less/mixins.less";

.header {
    .justify-items-column();
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .title-portfolio {
        width: 100%;
        padding: 50px 0px;
        border-bottom: 2.5px solid var(--line-color);
        .justify-items-row();
        position: relative;
        h1 {
            font-family: @portfolio-title-font;
            color: var(--title-color);
            font-size: 30px;
            text-align: center;
            width: fit-content;
            .justify-items-column();
            .underline {
                width: 42%;
                height: 4px;
                background-color: var(--line-color);
                position: relative;
                top: 10px;
            }
        }
        .toggle-container {
            position: absolute;
            bottom: 8px;
            right: 8px;
        }
    }
    nav {
        font-family: @text-font;
        width: 100%;
        overflow-x: hidden;
        color: var(--text-color);
        position: relative;
        ul {
            .justify-items-row();
            justify-content: space-around;
            height: 100%;
            li {
                margin: 10px;
                font-size: 11px;
            }
        } 
    }
}

@media (min-width: 425px) {
    .header {
        .title-portfolio {
            h1 {
                font-size: 36px;
            }
        }
        nav {
            ul {
                li {
                    font-size: 13px;
                    padding: 4px 0
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        .title-portfolio {
            h1 {
                font-size: 46px
            }
            .toggle-container {
                bottom: 14px;
                right: 14px;
            }
        }
        nav {
            ul {
                li {
                    font-size: 16px;
                }
            }
            height: 65px;
        }
    }
}

@media(max-width: 767px) {
    .header {
        nav {
            height: 50px;
        }
    }
}