---
import "./style.less"
import SectionTitle from "../SectionTitle/SectionTitle.astro"
---

<section class="skill-section">
    <SectionTitle title="Habilidades"/>
    <div class="skills-container">
    </div>
</section>

<script>
    import "./script.js"
</script>