.skill-section {
    gap: 40px;

    .skills-container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
        .badge-container {
            width: 30%;
            display: flex;
            align-items: center;
            svg {
                width: 100%;
            }
        }
        
    }
}