---
import CardAbout from "../CardAbout/CardAbout.astro";
import "./style.less"
import SectionTitle from "../SectionTitle/SectionTitle.astro"
---

<section class="about-section">
    <SectionTitle title="Sobre nosotros"/>
    <CardAbout name="Mauricio Klainbard" description="" image="" reverse={false}/>
    <CardAbout name="Anaïs Garrofé" description="" image="" reverse={false}/>
</section>