---
import CardAbout from "../CardAbout/CardAbout.astro";
import "./style.less"
import SectionTitle from "../SectionTitle/SectionTitle.astro"
const anaisImage = "/images/anais.jpeg"
const mauricioImage = "/images/mauricio.jpeg"
const description = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit consequuntur vero culpa fugiat omnis soluta neque atque inventore temporibus? Numquam, nihil voluptatem commodi vel accusamus nostrum culpa quisquam itaque ipsum!"
---

<section class="about-section">
    
    <SectionTitle title="Sobre nosotros" id="about-title-sm"/>
    <div class="star-1 star big-star"></div>
    <div class="star-2 star small-star"></div>
    <div class="star-3 star big-star"></div>
    <div class="star-4 star small-star"></div>
    <CardAbout name="Mauricio Klainbard" description={description+description} image={mauricioImage} reverse={false}/>
    <CardAbout name="Anaïs Garrofé" description={description+description} image={anaisImage} reverse={true}/>
</section>