.about-section {
    gap: 40px;
    position: relative;
    .star {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -3;
    }
    .big-star {
        width: 200px;
        height: 200px;
    }
    .small-star {
        width: 100px;
        height: 100px;
    }
}

.star-1 {
    background-image: var(--star1);
    position: absolute;
    top: 0;
    right: 15%;
}

.star-2 {
    background-image: var(--star2);
    position: absolute;
    top: 120px;
    right: 10%;
}

.star-3 {
    background-image: var(--star3);
    position: absolute;
    bottom: -90px;
    left: 11%;
}

.star-4 {
    background-image: var(--star4);
    position: absolute;
    bottom: -10px;
    left: 24%;
}

@media(min-width: 320px) {
    .star-1 {
        right: 4%;
    }
    .star-2 {
        right: 1%;
    }
    .star-4{
        left: 60%;
    }
}

@media(min-width: 768px) {
    .about-section {
        gap: 60px;
        padding-top: 60px;
        .description {
            width: 45%
        }
        .about-card {
            gap: 40px;
        }
    }
    .star-1 {
        right: 8%;
    }
    .star-4 {
        left: 35%;
    }
}

@media(min-width: 1020px) {
    .star-4 {
        left: 30%;
    }
}

@media(min-width: 1400px) {
    .star-4 {
        left: 25%;
    }
}

