---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "../less/global.less"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <style lang="less" is:global></style>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  const allP = document.querySelectorAll("p");
  allP.forEach(p=>{
    p.setAttribute("data-text", p.innerText)
  })
</script>
