---
const { frontmatter } = Astro.props;
---

<div class="project-markdown-container">
  <h1>{frontmatter.title}</h1>
  <div class="img-project-container">
    <img src={frontmatter.image} alt={frontmatter.title} />
  </div>
  <slot />
  <a href={frontmatter.site} target="_blank">¡Visita la página del proyecto!</a>
</div>

<style lang="less" is:global>
  @import "../less/fonts.less";
  .project-markdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--text-color);
    margin: 4rem;
    p {
      text-align: justify;
      width: 90%;
    }
    a {
      margin: 0 0 20px 0;
      color: var(--text-color);
      font-family: @text-font;
    }
    .img-project-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      img {
        width: 90%;
        border-radius: 10px;
      }
    }
    h1 {
      font-family: @section-titles-font;
      color: var(--title-color);
      font-size: 40px;
      width: fit-content;
    }
  }
  @media(max-width: 768px) {
    .project-markdown-container {
      margin: 0.5rem;
      p {
        text-align: justify; 
      }
    }
  }
</style>
