---
import "./style.less";
---

<div class="banner">
  <div class="line-container" style="flex-direction: row-reverse; top: 2%;">
    <div class="dots-container"><span>.&nbsp&nbsp.&nbsp&nbsp.</span></div><div
      class="line"
    >
    </div>
  </div>
  <h1>berryscript</h1>
  <div class="line-container" style="bottom: 2%;">
    <div class="dots-container"><span>.&nbsp&nbsp.&nbsp&nbsp.</span></div><div
      class="line"
    >
    </div>
  </div>
</div>
