---
import "./style.less"
---

<link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css"/>
<link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.theme.min.css"/>


<div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide"><img src="/public/fo.png"/></li>
        <li class="glide__slide"><img src="/public/fo.png"/></li>
      </ul>
    </div>
  
    <div class="glide__arrows" data-glide-el="controls">
        <button style="color:var(--line-color-light); border-color: var(--line-color-light); font-weight: bold; z-index: 3" class="glide__arrow glide__arrow--left" data-glide-dir="<">{'<'}</button>
        <button style="color:var(--line-color-light); border-color: var(--line-color-light); font-weight: bold; z-index: 3" class="glide__arrow glide__arrow--right" data-glide-dir=">">{'>'}</button>
      </div>
</div>



<script>
    import "./script.js"
</script>
