---
import "./style.less";
import ProjectCard from "../ProjectCard/ProjectCard.astro";

const goldenElfImage = "/images/golden-elf-project.png";
const tykkeraImage = "/images/tykkera-project.png";
const numericalMethodsImage = "/images/numerical-methods-project.png"

---

<div class="embla-slider-container">
  <div class="embla">
    <div class="embla__viewport">
      <div class="embla__container">
        <div class="embla__slide"><ProjectCard title="Golden Elf" image={goldenElfImage} id="goldenelf-project"/></div>
        <div class="embla__slide"><ProjectCard title="Tykkera" image={tykkeraImage} id="tykkera-project"/></div>
        <div class="embla__slide"><ProjectCard title="Métodos Numéricos" image={numericalMethodsImage} id="numerical-methods-project"></div>
      </div>
    </div>
    <div class="embla__prev">
      <svg xmlns="http://www.w3.org/2000/svg" fill="var(--line-color)" width="2rem" height="2rem" viewBox="0 0 24 24"><path d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"/></svg>
    </div>
    <div class="embla__next">
      <svg xmlns="http://www.w3.org/2000/svg" fill="var(--line-color)" width="2rem" height="2rem" viewBox="0 0 24 24"><path d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"/></svg>
    </div>
  </div>
</div>

<script>
  import "./script.js";
</script>
